<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda" >
  <xacro:arg name="x" default="0" />
  <xacro:arg name="y" default="0" />
  <xacro:arg name="z" default="0" />
  <xacro:arg name="roll" default="0" />
  <xacro:arg name="pitch" default="0" />
  <xacro:arg name="yaw" default="0" />
  <xacro:arg name="connected_to" default="world" />
  <xacro:arg name="control_mode" default="effort" />

  <xacro:include filename="$(find panda)/urdf/panda_arm.xacro"/>
  <xacro:include filename="$(find panda)/urdf/standard_gripper.xacro"/>

  <!-- for simulation -->
  <xacro:include filename="$(find panda)/urdf/panda.gazebo.xacro"/>
  <xacro:include filename="$(find panda)/urdf/panda.$(arg control_mode)_control.xacro"/>
  <!-- end for simulation -->

  <xacro:panda_arm xyz="$(arg x) $(arg y) $(arg z)" rpy="$(arg roll) $(arg pitch) $(arg yaw)" connected_to="$(arg connected_to)" arm_id="panda"/>
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8" safety_distance="0.03"/>

  <!-- for simulation -->
  <xacro:panda_gazebo arm_id="panda"/>
  <xacro:panda_control arm_id="panda" load_hand="true" />
  <!-- end for simulation -->
</robot>
