<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$(arg robot_name)" >
  <xacro:arg name="x" default="0" />
  <xacro:arg name="y" default="0" />
  <xacro:arg name="z" default="0" />
  <xacro:arg name="roll" default="0" />
  <xacro:arg name="pitch" default="0" />
  <xacro:arg name="yaw" default="0" />
  <xacro:arg name="connected_to" default="world" />
  <xacro:arg name="control_mode" default="effort" />

  <xacro:include filename="$(find panda)/urdf/panda_arm_generic.xacro"/>

  <link name="world"/>
  
  <xacro:panda_arm_generic  x="$(arg x)"
                            y="$(arg y)"
                            z="$(arg z)"
                            roll="$(arg roll)"
                            pitch="$(arg pitch)"
                            yaw="$(arg yaw)"
                            connected_to="$(arg connected_to)"
                            control_mode="$(arg control_mode)"
                            robot_name="$(arg robot_name)"
                            load_hand="$(arg load_hand)"/>

</robot>
