<launch>
    <arg name="simulated"/>
    <arg name="rviz_gui" default="true"/>
    <arg name="gazebo_gui" default="true"/>
    <arg name="launch_gazebo" default="true"/>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="roll" default="0"/>
    <arg name="yaw" default="0"/>

    <include file="$(find panda)/launch/simple.launch">
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
        <arg name="pitch" value="$(arg x)" />
        <arg name="roll" value="$(arg roll)" />
        <arg name="yaw" value="$(arg yaw)" />
        <arg name="simulated" value="$(arg simulated)" />
        <arg name="gazebo_gui" value="$(arg gazebo_gui)" />
        <arg name="launch_gazebo" value="$(arg launch_gazebo)" />
    </include>


</launch>